html, body {
	width: 1440px;
	height: 900px;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-line-clamp: inherit;
	-webkit-line-clamp: initial;
	-webkit-line-clamp: unset;
	
}
input, button {
	box-sizing: border-box;
	border: 0px;
}


